1a:link       { color: #990000; text-decoration: none }
a:visited    { color: #660000; text-decoration: none }
a:hover      { color: #003366; text-decoration: none }
a:active     { color: #003300; text-decoration: none }

html {
	box-sizing: border-box;
}

h1 {
 background-color:#003356;
 color: #fff;
 font-size: 23px;
 margin-top: 0px;
 padding: 3px 3px 3px 10px;
}
h2 {
 font-size: 18px;
 margin-left: -10px;
 padding: 3px 3px 3px 10px;
}
h3 {
 background-color: #333;
 color: #fff;
 font-size: 17px;
 margin-left: -10px;
 margin-top: 0px;
 padding: 3px 3px 3px 10px;
}
h4 {
 background-color: #999;
 color: #fff;
 font-size: 17px;
 margin-left: -10px;
 padding: 3px 3px 3px 10px;
}
body {
 background-color:#14233A;
 color:#000;
 font-family:Verdana, Arial, Helvetica, sans-serif;
 font-size:12px;
 margin: 0;
}
#content {
 margin-left:auto;
 margin-right:auto;
 text-align:center;
}
#header {
 background-color: #990000;
 border-bottom: 2px solid #000;
 height: 75px;
 margin-left:auto;
 margin-right:auto;
 text-align:center;
}
#header #logo {
 width: 756px;
 height: 70px;
 margin-left:auto;
 margin-right:auto;
 text-align: left;
}
#logo-link {
 background-image:url(../pictures/logo1.png);
 height: 70px;
 width: 246px;
 display: block;
 background-size:cover;
}

#header #news {
 width: 756px;
 height: 70px;
 margin-left:auto;
 margin-right:auto;
 text-align: right;
}
#news-link {
 background-image:url("");
 height: 70px;
 width: 218px;
 display: block;
}

/*************************
 Media Queries
 *************************/
@import "compass/css3";

.gallery {
  position:absolute; top:50%; left:50%; margin-left:-81px; margin-top:-50px;
  a { display:block; padding:6px; background:#fff; }
  img { display:block; }
}
.lightBoxOverlay { height:100%; width:100%; background:rgba(0,0,0,0.8); position:fixed; top:0; left:0; z-index:9; display:none; cursor:pointer; }
.lightBox { position:absolute; top:50%; left:50%; background:#fff; z-index:10; }
.closeBox { position:absolute; top:-25px; right:0; color:#fff; font-size:25px; text-decoration:none; }
.lightBox img { display:block; }
 

@media only screen and (min-width: 480px)  {

	nav a{
		float: left;
		width: 30%;
		margin: 0 0 0 5%;
		padding: 25px 1%;
		margin-bottom: 0;
	}

nav li: first-child a {
	margin-left: 0;

}

nav li: last-child a {
	margin-right: 0;
}

	@media only screen and (min-width: 768px),
			only screen and (min-width: 700px) and (orientation: landscape) {

.title {
			float: right;
			width: 60%;
		
}

nav a { 
padding: 15px 1%; 


border {
	padding: 15px 1%;

}
		


	}



@media only screen and (min-width: 1140px)  {


}

/************************************************


/* #header #logo #logo-link:hover {
 background-image:url(../images/logo-3.gif);
}

*/

#content > #header {
 height: 70px;
}
#main {
 background-color: #FFFFE1;
 border: 1px solid #4F6D8F;
 height: 422px;
 margin-left:auto;
 margin-right:auto;
 text-align:left;
 width: 750px;
 background-size:contain;
}
#mainlink {
 background-color: #FFFFE1;
 border: 1px solid #4F6D8F;
 height: 770px;
 margin-left:auto;
 margin-right:auto;
 text-align:center;
 width: 750px;
}
#content > #main {
 min-height: 422px;
 height: auto;
}
#content .gallery {
background-color: #000;
}
.mainbright {
 background-image:url(../pictures/leepuckettgroup.jpg);
 background-position: center;
 background-repeat: no-repeat;
}
.mainbright-2 {
 background-image:url(../pictures/zack1.jpg);
 background-position: center;
 background-repeat: no-repeat;
}
.mainbright-3 {
 background-image:url(../pictures/timwhalen.jpg);
 background-position: center;
 background-repeat: no-repeat;
}
.mainbright-4 {
 background-image:url(../pictures/john.jpg);
 background-position: center;
 background-repeat: no-repeat;
}
.mainbright-5 {
 background-image:url(../pictures/mark1.jpg);
 background-position: center;
 background-repeat: no-repeat;
 background-size:cover;
 height:50px;
 width: 50px;
 }
 .mainbright-6 {
 background-image:url(../pictures/tincan.jpg);
 background-position: center;
 background-repeat: no-repeat;
 background-size:cover;
 height:50px;
 width: 50px;
 }
 .mainbright-7 {
 background-image:url(../pictures/songlist.png);
 background-position: center;
 background-repeat: no-repeat;
 background-size:cover;
 height:50px;
 width: 50px;
 }
 .mainbright-8 {
 background-image:url(../pictures/players.png);
 background-position: center;
 background-repeat: no-repeat;
 background-size:cover;
 height:50px;
 width: 50px;
 }
 .mainbright-9 {
 background-image:url(../pictures/morsecode.jpg);
 background-position: center;
 background-repeat: no-repeat;
 background-size:cover;
 height:50px;
 width: 50px;
 }
.maindull {
 background-image:url(../images/homepage-color-3.jpg);
}
#rightmodule {
 opacity:.8;
 filter:alpha(opacity=80) progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/grey-bg-2.gif',sizingMethod='crop');
 background-color: #fff;
 background-image: url(../images/grey-bg-2.gif);
 background-repeat: repeat;
 border: 1px solid #CC0000;
 float: right;
 margin-right: 10px;
 margin-top: 75px;
 padding: 5px;
 text-align:left;
 width: 240px;
}
#rightmodule h3 {
 background-color: #CC0000;
 color: #fff;
 font-size: 12px;
 margin: -5px;
 padding: 3px;
}
#rightdragme {
 filter:alpha(opacity=80) progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/grey-bg-2.gif',sizingMethod='crop');
 opacity:.8;
 background-color: #cc0000;
 background-image: url(../images/dragme.gif);
 float: right;
 height: 50px;
 margin-right: -5px;
 margin-top: 5px;
 width: 20px;
}
.dragme {
 position:relative;
}
#copyright {
 color: #ccc;
 font-size: 10px;
 font-weight: bold;
 margin-left:auto;
 margin-right:auto;
 text-align: center;
 width: 760px;
}

#caption {
 background-color: #666;
 border: 1px solid #ccc;
 color: #fff;
 padding: 2px;
}
#main > #resume, #main > #int-english, #main > #int-japanese {
 width: 745px;
}
#toplinks {
 padding: 0 0 0 10px;
}
#toplinks ul {
 font-size: 12px;
 margin-left: 0px;
 margin-top: -10px;
 padding-left: 17px;
}
#links img {
 margin: 3px;
  }
#contact {
 margin: 10px;
}
iframe {
 height:422px;
 width:750px;
}
/*--------------------------------------------------------------------- tnav -*/
#tnav {
 border-bottom: 2px solid #14233A;
 height:23px;
 margin-bottom: 0;
 margin-left:auto;
 margin-right:auto;
 width: 764px;
 white-space:nowrap;
}
#tnav ul {
 margin: 0;
 padding: 0 0 0 5px;
}
#tnav > ul {
 padding-left: 6px;
}
#tnav ul li {
 list-style: none;
 float: left;
 text-align: left;
 margin: 0 5px 0 0 ;
 padding: 0;
 list-style-image:none;
 position:relative;
}
#tnav li a {
 display: block;
 font-size:11px;
 float: left;
 margin: 0; /* 4px 0 0;/* margin:0 2px 0 0; */
 padding:5px 0px 5px 0px;
 background-image:none;
 text-align:center;
 text-transform:none;
 font-weight:bold;
 text-decoration:none;
 width:120px;
}
#tnav ul li a,
#tnav ul li a:visited {
 background-color:#354A60;
 color:#fff;
 white-space:nowrap;
 margin-right: 0px;
}
/*
#tnav > ul li a,
#tnav > ul li:hover a,
#tnav > ul li.over a,
#tnav > ul li.current a {
 margin-right:4px;
}
#tnav > ul li a,
#tnav > ul li:hover a,
#tnav > ul li.current a {
 margin-right:5px;
}
#tnav > ul li a {
 width:111px !important;
}
*/
#tnav > ul li a,
#tnav > ul li:hover a,
#tnav > ul li.over a,
#tnav > ul li.current a {
	/* margin-right:0px; */
	/* width:111px !important; */
}

#tnav-links {
 /* width: 116px; */
 margin-right: 0px;
}
/* 
#tnav-links > a {
 width: 115px !important;
 margin-right: 0px;
}
*/

#tnav #tnav-home a {
 margin-left: 2px;
}
#tnav #tnav-home > a {
 margin-left: 0px;
}
#tnav #tnav-Info a {
 width: 124px;
}
#tnav #tnav-Info > a {
 width: 127px;
}

#tnav li ul {
 display:none;
 position:absolute;
 top:23px;
 z-index:25;
}
#tnav li ul {
 display:none;
 left:0 !important;
 top:100%;
}
#tnav li ul li,
#tnav li ul li a,
#tnav li ul li a:visited {
 float:none !important;
}

#tnav li ul li a,
#tnav li:hover ul li a,
#tnav li:hover ul li a:visited,
#tnav li.over ul li a,
#tnav li.over ul li a:visited {
 background-color:#272F5B !important;
 border:1px solid #fff;
 color: #fff;
 font-weight:normal !important;
 padding-left:5px;
 text-align:left !important;
 width: 124px;
}
#tnav li:hover ul li > a,
#tnav li:hover ul li > a:visited,
#tnav li.over ul li > a,
#tnav li.over ul li > a:visited {
 width: 112px;
}
#tnav ul li.current a,
#tnav ul li a.current,
#tnav ul li:hover a,
#tnav ul li a:hover,
#tnav ul li.over a,
#tnav li:hover ul li:hover a,
#tnav li.over ul li.over a:hover {
 background-color:#272F5B !important;
 color:#fff;
}
#tnav li:hover ul,
#tnav li.over ul {
 display:block !important;
}
